<!DOCTYPE html>
<html lang="en">

<!-- 

This file is part of Meemoo.
  
  Meemoo is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Meemoo is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Meemoo.  If not, see <http://www.gnu.org/licenses/>. 
  
-->

<head>
  <meta charset="utf-8" />
  <title>Meemoo AV Sequencer by Sembiki Interactive</title>
  
  <script type="text/javascript" src="lib/modernizr.custom.js"></script>
  <script type="text/javascript">
    
    var hasFeatures = Modernizr.localstorage && Array.prototype.indexOf && JSON.parse && JSON.stringify;
    
    yepnope({
      test : hasFeatures,
      yep  : [
        'http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js',
        'http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js',
        'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js',
        'lib/underscore.js',
        'lib/backbone.js',
        'lib/backbone-localstorage.js',
        'meemoo-composition.js',
        'meemoo-video.js',
        'meemoo-player.js',
        'meemoo-pattern.js',
        'meemoo-patterntrack.js',
        'meemoo-sequence.js',
        'meemoo-sequencetrack.js',
        'meemoo.js',
        // 'meemoo.min.js',
        'meemoo.css'
      ],
      complete : function(){
        if (hasFeatures) {
          // load skin
          yepnope('http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/eggplant/jquery-ui.css');
          // load application
          $(document).ready(function() {
            window.App = new AppView();
            App.initializeCompositions();
          });
        }
      }
    });
    
  </script>
  
</head>
<body>

  <div id="intro">
    You need JavaScript and a modern web broswer to load this application. Chrome 10+ or Firefox 4+ is probably your best bet.
  </div>
  <div id="application">
  </div>





<!-- Application templates --> 


<script type="text/template" id="application-template">

  <div id="container">
    <iframe src="meemoo-viewer.html" id="viewer" name="inviewer"></iframe>
    <button id="popoutbutton" type="button">Popout Viewer</button>
    <button id="viewer-reload" type="button">Reload Videos</button>
  </div>
  <div id="setup">
    <section>
      <h1>Compositions</h1>
      <div id="compositions">
        <div class="additem">
          <button id="newcomposition" type="button">New</button>
          <button id="loadcomposition" type="button">Open...</button>
        </div>
        <div id="comp_dialog" class="dialog" title="Load">
          <div>
            <h2>Import from text</h2>
            <textarea id="comp_import_text"></textarea>
            <button id="comp_import_button" type="button">Import</button>
          </div>
          <h2>Saved compositions</h2>
        </div>
        <div id="comp_export_dialog" class="dialog" title="Copy this text to share:">
          <textarea id="comp_export_text"></textarea>
        </div>
      </div>
    </section>
  </div>

</script>


<script type="text/template" id="composition-template">
  
  <section>
    <div id="comp_info">
      <h2 class="comp_info_title editable" contenteditable="true" title="Click to edit title"><%= this.model.get("title") %></h2>
      <p class="comp_info_mixer editable" contenteditable="true" title="Click to edit mixer name"><%= this.model.get("mixer") %></p>
      <p class="comp_info_description editable" contenteditable="true" title="Click to edit description"><%= this.model.get("description") %></p>
      <p><input class="comp_info_bpm" type="number" min="0" max="500" value="<%= this.model.get("bpm") %>"></input> bpm</p>
    </div>
    <button class="composition-save-button" type="button">Save</button>
    <button class="composition-export-button" type="button">Export as text...</button>
  </section>
  <section>
    <h1>Videos</h1>
    <button class="add-video" type="button">Add Video</button>
    <div class="add-player-menu">
    </div>
    <div class="videos">
    </div>
  </section>
  <section>
    <h1>Players</h1>
    <div class="players">
      <button class="play-all-button" type="button">Play All</button>
      <button class="pause-all-button" type="button">Pause All</button>
    </div>
  </section>
  <section>
    <h1>Multitriggers</h1>
    <div class="multitriggers">
      <button class="automulti navigable" tabindex="0">
        Trigger 0-9 of the first four
      </button>
      <button class="automulti2 navigable" tabindex="0">
        All triggers of all players
      </button>
    </div>
  </section>
  <section>
    <h1>Patterns</h1>
    <div class="patterns">
      <button class="add-pattern" type="button">Add Pattern</button>
    </div>
  </section>
  <section>
    <h1>Sequences</h1>
    <div class="sequences">
      <button class="add-sequence" type="button">Add Sequence</button>
    </div>
  </section>
  
</script>


<script type="text/template" id="video-template"> 

  <div class="video-list">
    <span class="video-cid"><%= this.model.cid %></span>
    <span class="video-title editable" contenteditable="true" title="Click to edit title"><%= this.model.get("title") %></span>
    <button class="video-edit-triggers" type="button" style="display:none">Edit triggers</button>
    <button class="video-edit-sources" type="button">Edit sources</button>
    <button class="video-addplayer" type="button">Add player</button>
    <button class="video-delete" type="button">Delete video (and all players)</button>
  </div>
  <div class="video-triggers" title="<%= this.model.cid %>">
    <button class="video-triggers-fill2" type="button">Fill staggered (1qaz...)</button>
    <button class="video-triggers-fill" type="button">Fill straight (1234...)</button>
    <button class="video-triggers-sort" type="button">Sort</button>
  </div>
  <div class="video-sources" title="<%= this.model.cid %>">
    <div class="video-source">
      <label>WebM URL</label>
      <input type="text" class="video-webm" value="<%= this.model.get("webm") %>" />
      <button class="video-webm-test" type="button">Test</button>
    </div>
    <div class="video-source">
      <label>MP4 URL</label>
      <input type="text" class="video-mp4" value="<%= this.model.get("mp4") %>" />
      <button class="video-mp4-test" type="button">Test</button>
    </div>
    <div class="video-source">
      <label>YouTube ID</label>
      <input type="text" class="video-ytid" value="<%= this.model.get("ytid") %>" />
      <button class="video-ytid-test" type="button">Test</button>
    </div>
    <div class="video-test">
    </div>
    <span>Duration: <input type="number" class="video-duration" value="<%= this.model.get("duration") %>" /> seconds (This is required. If you click &quot;Test&quot; by your source it will be filled automatically.)</span>
  </div>

</script>


<script type="text/template" id="control-template"> 

  <div id="control_<%= id %>" class="controls video_<%= this.model.get("Video").cid %>">
    <div class="controlitemcell">
      <h2 class="title" title="Video <%= this.model.get("Video").cid %>, ID <%= this.model.get("Video").get("ytid") %>"><%= id %></h2>
    </div>
    <div class="controlitemcell">
      <button class="playbutton" type="button">Play</button>
    </div>
    <div class="controlitemcell">
      <button class="pausebutton" type="button">Pause</button>
    </div>
    <div class="controlitemcell">
      <button class="mutebutton" type="button">Mute</button>
    </div>
    <div class="controlitemcell">
      <button class="unmutebutton" type="button">Unmute</button>
    </div>
    <div class="controlitemcell">
      <div class="volumeslider" title="Volume slider"></div>
    </div>
    <div class="controlitemcell">
      <button class="addtriggerbutton" type="button">Add nine triggers from last.</button>
    </div>
    <div class="controlitemcell">
      <p id="statusmessage_<%= id %>" class="statusmessage">Loading...</p>
    </div>
    <div class="controlitemcell">
      <button class="removebutton" type="button">Remove this player.</button>
    </div>
  </div>
  <div class="showtriggers showtriggers_<%= this.model.get("Video").cid %>"></div>
  <div id="playprogress_<%= this.model.cid %>" class="playprogress navigable" tabindex="0" style="height:18px;"></div>
  <div id="loadprogress_<%= this.model.cid %>" class="loadprogress" style="height:7px;"></div>

</script>


<script type="text/template" id="composition-list-template"> 

  <span title="<%= this.model.get('description') %>">
    <%= this.model.cid %>: <%= this.model.get('title') %>
  </span>
  <button class="comp_load_button" type="button">Load</button>
  <button class="comp_export_button" type="button">Export...</button>
  <button class="comp_delete_button" type="button">Delete</button>

</script>

<script type="text/template" id="pattern-template"> 
  <div>
    Pattern <%= this.model.cid %> <div class="pattern_trigger beat navigable"><%= App.triggers[this.model.get("trigger_id")] %></div>
    <button class="pattern_play_button navigable" type="button">Play/Cue</button>
    <button class="pattern_stop_button navigable" type="button">Stop</button>
    <input class="pattern_chance navigable" id="pattern_<%= this.model.cid %>_beats" type="number" min="0" max="100" step="1" value="<%= this.model.get('chance') %>"></input> chance
    <input class="pattern_beats navigable" id="pattern_<%= this.model.cid %>_beats" type="number" min="1" max="64" step="1" value="<%= this.model.get('beats') %>"></input> beats
    <button class="pattern_addtrack_button" type="button">Add Track</button>
    Next <div class="pattern_next beat navigable"><%= App.triggers[this.model.get("next")] %></div>
  </div>
  <div id="pattern_<%= this.model.cid %>_newtrack_dialog" class="pattern_newtrack_dialog dialog" title="Choose a player:">
  </div>
  <div class="pattern_tracks">
  </div>
</script>

<script type="text/template" id="track-template">
  <div class="patterntrack_title">Player <%= this.model.get("Player").cid %></div>
</script>

<script type="text/template" id="sequence-template"> 
  <div>
    Sequence <%= this.model.cid %> 
    <button class="sequence_play_button navigable" type="button">Play</button>
    <button class="sequence_stop_button navigable" type="button">Stop</button>
    <input class="sequence_length navigable" type="number" min="1" max="5000" step="1" value="<%= this.model.get('length') %>"></input> length
  </div>
  <div class="sequence_tracks">
  </div>
</script>

<script type="text/template" id="sequencetrack-template">
  <span class="sequencetrack_title"><%= this.model.cid %></span>
</script>





<!-- Analytics --> 

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-274009-19']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
